<html>

<body
    style="font-family: 'Roboto', Arial, sans-serif; line-height: 1.6; color: #FFFFFF; background-color: #000000; max-width: 600px; margin: 0 auto; padding: 20px;">
    <div style="background-color: #333333; padding: 20px; border-radius: 10px;">
        <div style="text-align: center; margin-bottom: 20px;">
            <img src="https://axiondev.tech/static/media/logo.7d88756d3ee202b5a614.png" alt="Axion Dev Logo"
                style="max-width: 80px; height: auto; margin: 0 auto; display: block;">
        </div>

        <h1 style="color: #FFD700; text-align: center; font-family: 'Orbitron', sans-serif;">
            Nuevo formulario de contacto
        </h1>

        <div style="background-color: #a5aa9a; color: #000000; padding: 15px; border-radius: 5px; margin: 20px 0;">
            <table style="width: 100%; border-collapse: collapse;">
                <tr>
                    <td style="padding: 10px; border: 1px solid #333333;"><strong>Nombre:</strong></td>
                    <td style="padding: 10px; border: 1px solid #333333;">{{name}}</td>
                </tr>
                <tr>
                    <td style="padding: 10px; border: 1px solid #333333;"><strong>Email:</strong></td>
                    <td style="padding: 10px; border: 1px solid #333333;">{{email}}</td>
                </tr>
                <tr>
                    <td style="padding: 10px; border: 1px solid #333333;"><strong>Teléfono:</strong></td>
                    <td style="padding: 10px; border: 1px solid #333333;">{{phone}}</td>
                </tr>
            </table>
        </div>

        <div style="background-color: #a5aa9a; color: #000000; padding: 15px; border-radius: 5px; margin: 20px 0;">
            <h2 style="color: #333333; margin-top: 0; font-family: 'Orbitron', sans-serif;">
                Detalles de la cita
            </h2>
            <ul style="list-style: none; padding-left: 0; margin: 0;">
                <li style="padding: 5px 0;"><strong>Fecha de cita:</strong> {{appointmentDate}}</li>
                <li style="padding: 5px 0;"><strong>Hora de cita:</strong> {{appointmentTime}}</li>
                <li style="padding: 5px 0;"><strong>Medio de cita:</strong> {{appointmentMedium}}</li>
            </ul>
        </div>

        <div style="background-color: #a5aa9a; color: #000000; padding: 15px; border-radius: 5px; margin: 20px 0;">
            <h2 style="color: #333333; margin-top: 0; font-family: 'Orbitron', sans-serif;">
                Observaciones
            </h2>
            <p style="margin: 0;">{{observations}}</p>
        </div>

        <footer style="margin-top: 30px; text-align: center; font-size: 0.8em; color: #a5aa9a;">
            Este es un email automático. Por favor, no responda a este mensaje.
        </footer>
    </div>
</body>

</html>